.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.container-error-button {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    gap: 1rem;
}

.tables-container {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    bottom: 0;
}

.footer-components {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-line {
    display: flex;
    align-items: center;
}

.newbutton-container {
    display: flex;
    width: max-content;
    padding: 0 1rem;
    gap: 1rem;
}