$imgHint: "../../../assets/images/hint.svg";

.centered {
    margin: 0 auto;
}

.settings-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
}

.row {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    position: relative;
}

.cell1 {
    min-width: 50%;
    width: 50%;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #A4A4A4;
    border-radius: 7px;
}

.input {
    padding: 6px 5px;
    border-radius: 7px;
    width: 50%;
    border: 1px solid #A4A4A4;
    outline: none;
    background-color: white;
}

.input-small {
    @extend .input;
    width: 25%;
}

.title {
    font-size: 18px;
    font-weight: 600;
}

.setting-inner {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.list-container-preview {
    @extend .input;
    width: 100%;
    position: relative;
}

.list-container-preview-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.list-container-extended {
    @extend .input;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 8px;
    left: 8px;
    box-sizing: border-box;
}

.list-container-inner {
    border-radius: 7px;
    border: 1px solid #A4A4A4;
    padding: 10px;
    margin-bottom: 10px;
    height: 86px;
    overflow-y: scroll;
}

button {
    padding: 6px 5px;
    border-radius: 7px;
    border: 1px solid #A4A4A4;
    cursor: pointer;
}

.flex-between-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.save-button {
    background-color: dodgerblue;
    color: white;
}