.params {
    padding: 10px 20px;
    border: 1px solid;
}

.radioContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.radioContainer:hover {
    cursor: pointer;
}

.radioContainer input:checked + .radio {
    background-size: auto !important;
}

.radioContainer input {
    display: none;
}

.radio {
    height: 1.5em;
    width: 1.5em;
    border: 1px solid;
}

.radio svg {
    height: 100%;
    width: 100%;
}
