$color-yellow: #F7EE55;
$color-black: #000000;
$color-background: #F5F5F5;
$color-border-grey: #A4A4A4;
$color-text-grey: #8A8A8A;
$color-track-grey: #C2C2C2;
$color-link-blue: #0094FF;

$border-radius-normal: 10;
$border-radius-compact: 5;