@import "src/theme.scss";

.edit {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    padding-left: 49px;
    padding-right: 49px;
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.header-inputs {
    & > *:nth-child(odd) {
        margin-left: 50px;
    }
    & > *:nth-child(even) {
        margin-left: 10px;
    }
    display: flex;
    align-items: center;
}

.param-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.table-container {
    & > div {
        margin-left: 12px;
        flex-basis: 0;
        flex-grow: 1;
        height: 662px;
    }
    flex-grow: 1;
    display: flex;
    padding-top: 65px;
    padding-right: 22px;
    padding-left: 36px;
    position: relative;
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 22px;
    padding-left: 27px;
    padding-right: 27px;
}

.switch-container {
    user-select: none;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.switch-title {
    font-size: 24px;
    font-weight: 700px;
}

.table-description {
    height: 135px;
}

.button-container {
    & > .button > span {
        flex-grow: 1;
    }
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    column-gap: 10px;
}

.button-submit {
    border-color: $color-yellow;
}

.table-content {
    height: 600px;
}

.switch-table {
    & .switch_thumb {
        background-color: $color-yellow;
    }
    position: absolute;
    left: 1000px;
    z-index: 1;
}

.text-editor {
    border-style: none;
    outline: none;
}

.table-title-container {
    padding-left: 12px;
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    height: 50px;
}

.form {
    & .input-radio {
        flex-direction: row-reverse;
    }
    margin-top: 100px;
    display: grid;
    grid-auto-rows: 54px;
    row-gap: 12pxpx;
}

.radio-label {
    flex-grow: 1;
    margin-left: 12px;
}

.radio-multipack {
    & .input-radio_mark {
        margin-right: 12px;
    }
    flex-direction: row-reverse;
    justify-content: flex-end;
}